  PORT=YOUR_PORT
  MONGO_URI=YOUR_MONGODB_URL
  JWT_SECRET=YOUR_JWT_SECRET
  CLOUDINARY_NAME=YOUR_CLOUDINARY_NAME
  CLOUDINARY_KEY=YOUR_CLOUDINARY_KEY
  CLOUDINARY_SECRET=YOUR_CLOUDINARY_SECRET
  TWILIO_ACCOUNT_SID=YOUR_TWILIO_ACCOUNT_SID
  TWILIO_AUTH_TOKEN=YOUR_TWILIO_AUTH_TOKEN










# Useful links
# PORT: WE ALREADY SETUP 5000 AS DEFAULT BUT IF YOU PREFER SOMETHING YOUCAN SETUP IT

# MONGO_URI:you can setup your database from here: https://www.mongodb.com/

# for JWT secret https://jwtsecret.com/generate
#Get Cloudinary name,key and secret from: https://cloudinary.com/ 

# For Twilio go to https://www.twilio.com/en-us

