PORT=YOUR_PORT
MONGO_URI=YOUR_MONGODB_URL













# Useful links
# PORT: WE ALREADY SETUP 5000 AS DEFAULT BUT IF YOU PREFER SOMETHING YOUCAN SETUP IT
# MONGO_URI:you can setup your database from here: https://www.mongodb.com/



